In [2]:
import pandas as pd
import numpy as np

Task 1- Create a pandas dataframe (as df) with 10 observations and 5 features

In [8]:
d={"Name":["Kaustubha","Ashwin","Kartikeya","Tanmay","Medhansh","Yogi","Devanshi","Garvit","Khyati","Sukhada"] ,
   "Age":[19,20,21,20,24,21,18,19,23,20],
   "Gender":["M","M","M","M","M","M","F","M","F","F"],
   "Branch":["CPS",np.nan,"AI","CPS","AI","CPS","CSE","CSE","AI","CSE"],
   "Marks":[88,80,90,86,98,np.nan,75,89,93,79]}
d

{'Name': ['Kaustubha',
  'Ashwin',
  'Kartikeya',
  'Tanmay',
  'Medhansh',
  'Yogi',
  'Devanshi',
  'Garvit',
  'Khyati',
  'Sukhada'],
 'Age': [19, 20, 21, 20, 24, 21, 18, 19, 23, 20],
 'Gender': ['M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'F', 'F'],
 'Branch': ['CPS', nan, 'AI', 'CPS', 'AI', 'CPS', 'CSE', 'CSE', 'AI', 'CSE'],
 'Marks': [88, 80, 90, 86, 98, nan, 75, 89, 93, 79]}

In [10]:
df=pd.DataFrame(d)
df

        Name  Age Gender Branch  Marks
0  Kaustubha   19      M    CPS   88.0
1     Ashwin   20      M    NaN   80.0
2  Kartikeya   21      M     AI   90.0
3     Tanmay   20      M    CPS   86.0
4   Medhansh   24      M     AI   98.0
5       Yogi   21      M    CPS    NaN
6   Devanshi   18      F    CSE   75.0
7     Garvit   19      M    CSE   89.0
8     Khyati   23      F     AI   93.0
9    Sukhada   20      F    CSE   79.0

Task 2-Check the info of 'df'

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    10 non-null     object
 1   Age     10 non-null     int64
 2   Gender  10 non-null     object
 3   Branch  9 non-null      object
 4   Marks   9 non-null      float64
dtypes: float64(1), int64(1), object(3)
memory usage: 528.0+ bytes

Task 3- Check the descriptive statistics of 'df'

In [12]:
df.describe()

             Age      Marks
count  10.000000   9.000000
mean   20.500000  86.444444
std     1.840894   7.299163
min    18.000000  75.000000
25%    19.250000  80.000000
50%    20.000000  88.000000
75%    21.000000  90.000000
max    24.000000  98.000000

Task 4- Check the 4th index observation with 'loc' slicing operator

In [13]:
df.loc[4]

Name      Medhansh
Age             24
Gender           M
Branch          AI
Marks         98.0
Name: 4, dtype: object

Task 5- Check the null values in your 'df'

In [14]:
df.isnull().any()

Name      False
Age       False
Gender    False
Branch     True
Marks      True
dtype: bool

In [15]:
df.isnull().sum()

Name      0
Age       0
Gender    0
Branch    1
Marks     1
dtype: int64